	<footer class="eOW" role="contentinfo">
		<div class="eIW">
			<div class="eRow eBreak">
				<div class="eGCol3 eGPush0">
					<a id="eFooterLogo" href="../../index.html" title="project_x" class="eIcon-logoicon" rel="home">
						{{productName}}
					</a>
				</div>
				<div class="eGCol3 eGPush3">
					<ul>
						<li>{{coText}}</li>
						<li>{{address}}</li>
						<li>{{telephoneText}} {{telephoneNumber}},{{mailToText}} <a href="mailto:{{mailToAddress}}" >{{mailToAddress}}</a></li>
					</ul>
				</div>
				<div class="eGCol2 eGPush6">
					<ul>
						{{#if msgCookie}}
						<li><a href="#" title="{{linkAboutUs}}">{{linkAboutUs}}</a></li>
						{{/if}}
						{{#if msgCookie}}
						<li><a href="#" title="{{linkAboutService}}">{{linkAboutService}}</a></li>
						{{/if}}
						{{#if msgCookie}}
						<li><a href="#" title="{{linkSupport}}">{{linkSupport}}</a></li>
						{{/if}}
					</ul>
				</div>
				<div class="eGCol2 eGPush8">
					<ul>
						{{#if msgCookie}}
						<li><a href="#" title="{{linkAPI}}">{{linkAPI}}</a></li>
						{{/if}}
						{{#if msgCookie}}
						<li><a href="#" title="{{linkAboutUs}}">{{linkAboutUs}}</a></li>
						{{/if}}
						{{#if msgCookie}}
						<li><a href="#" title="{{linkPartners}}">{{linkPartners}}</a></li>
						{{/if}}
					</ul>
				</div>
				<div class="eGCol2 eGPush10">
					<ul>
						{{#if msgCookie}}
						<li><a href="#" title="{{linkContactUs}}">{{linkContactUs}}</a></li>
						{{/if}}
						{{#if msgCookie}}
						<li><a href="#" title="{{linkNewsAndPress}}">{{linkNewsAndPress}}</a></li>
						{{/if}}
						{{#if msgCookie}}
						<li><a href="#" title="{{linkTermsAndConditions}}">{{linkTermsAndConditions}}</a></li>
						{{/if}}
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<script data-main="../../js/main.js" src="../../js/require.js"></script>
	<script src="../../js/edefault.js"></script>
	<script>
		{{#if jsWidgets}}
		{{jsWidgets}}
		{{else}}
	    //var widgets = ["widgets/emenuwidget", "widgets/ecookiebannerwidget"];
	    var widgets =  ["edefault", "widgets/ecarouselwidget"];
	    {{/if}}
	</script>
