<!DOCTYPE html>
<head lang="en">
	<title>{{productName}} - {{edatehelper}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" href="../../../css/edefault.css" />
	<link rel="stylesheet" href="../../../css/emediaqueries.css" />
	<link rel="stylesheet" href="../../../css/eprint.css" media="print" />
	<link rel="stylesheet" href="../../../css/edemo.css" />
	<!--[if LT IE 10]><link rel="stylesheet" href="../../../css/eie.css"/><![endif]-->
	<!--[if LT IE 9]><link rel="stylesheet" href="../../../css/eie8.css"/><![endif]-->
	<!--[if LT IE 8]><link rel="stylesheet" href="../../../css/eie7.css"/><![endif]-->
</head>
<body class="eDemo eSVG eInfinite">
	<header>
		<!--[if LT IE 8]>
		<div class="eOW">
				<div class="eIW eMessage">
						<p>{{msgOldBrowser}} <a href="http://whatbrowser.org/">{{linkReadMore}}/a></p>
				</div>
		</div>
		<![endif]-->
		<div class="eOW" id="eHeadBar">
			<div class="eIW">
				<div class="eRow">
					<div class="eGCol2 eGPush0">
						<a id="eHeaderLogo" href="../../../index.html" title="project_x" class="eIcon-logoicon" rel="home">
							{{productName}}
						</a>
					</div>
					<div class="eGCol10 eGPush2">
						<p id="eBreakpoints">{{header}} MQ:</p>
					</div>
				</div>
			</div>
		</div>
		{{#with text1}}
		<div class="eOW">
			<div class="eIW">
				<p>{{text1}}</p>
			</div>
		</div>
		{{/with}}
		<nav class="eOW">
			<ul class="eIW eRow eBreak">
				<li class="eFloatL eMl">
					<a href="../../../index.html" title="Index">Index</a>
				</li>
				<li class="eFloatL eMl">
					<a href="metrics.html" title="Metrics">Metrics</a>
				</li>
				<li class="eFloatL eMl">
					<a href="elements.html" title="Elements">Elements</a>
				</li>
				<li class="eFloatL eMl">
					<a href="form.html" title="Form">Form</a>
				</li>
				<li class="eFloatL eMl">
					<a href="grid.html" title="Grid">Grid</a>
				</li>
				<li class="eFloatL eMl">
					<a href="icons.html" title="Icons">Icons</a>
				</li>
				<li class="eFloatL eMl">
					<a href="images.html" title="Images">Images</a>
				</li>
				<li  class="eFloatL eMl">
					<a href="widgets.html" title="Widgets">Widgets</a>
				</li>
				<li  class="eFloatL eMl">
					<a href="sections.html" title="Sections">Sections</a>
				</li>
			</ul>
		</nav>
	</header>
	<div class="eMain eInfinite" role="main">



